.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 110px;
}

.App-header {
  background-color: #c5c2c2;
  height: 170px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.blockForma {
  background-color: azure;
  max-width: 600px;
  
  padding: 50px;
  margin: 0 auto;
}

.blockForma input {
  width: 300px;
  height: 30px;
  padding: 10px;
  margin: 10px;
}

.blockForma button {
  width: 100px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 10px;
}

.formView {
  width: 500px;
  margin: 0 auto;
  
  text-align: left;
}

.formView label {
  padding: 20px;
  
}

.formView input {
  padding: 5px;
  margin: 10px;
  border: 0px;
  width: 300px;
}
